body{
    background-color: rgb(216,216, 216);
    margin: 0;
    height: 100%;
}

div{
    display: flex;
    height: 40%;
}

p{
    width: 80%;
    margin: auto;
    line-height: 1.5em;
}
.sectionBox{
    background-color: #5b8fdc;
    height: 50px;
    width: 50px;
    margin: 20px;
}

.paragraphSection{
    background-color: rgb(255,255, 255);
    height : 40%;
}

.section1{
    background-color: #5b8fdc;
        height: 20vh;
}

.section2{
    background-color: #7be0c3;
    height: 20vh;
}

.section3{
    background-color: #c2e791;
    height: 20vh;
}

.section4{
    background-color: #f5e752;
    height: 20vh;
}